
#cal {

    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

#calin {
    padding: 10px;
    box-shadow: 0px 0px 5px 5px white;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.8;
    /* animation-name: animations;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}
#calin:hover{
    box-shadow: 0px 0px 9px 11px white;
    transition: 1s;
}
@keyframes animations {
    0% {
        box-shadow: 0px 0px 5px 6px white;
    }
    100% {
        
        box-shadow: 0px 0px 9px 11px white;
    }
}

#calin input {
    width: 300px;
}

#calin p {
    display: inline-block;
    background-color: lightgray;
    color: black;
    font-weight: bold;
    padding: 1px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px;
}

#calin label {
    display: inline-block;
    text-align: center;
    width: 60px;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px;
}

#le {
    margin-right: 20px;
}