
#cal {

    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

#calin {
    padding: 10px;
    box-shadow: 0px 0px 5px 5px lightslategray;
    background-color: lavender;
    animation-name: animations;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes animations {
    0% {
        box-shadow: 0px 0px 5px 6px lightslategray;
    }

    20% {
        box-shadow: 0px 0px 5px 7px lightslategray;
    }

    40% {
        box-shadow: 0px 0px 5px 8px lightslategray;
    }

    60% {
        box-shadow: 0px 0px 5px 9px lightslategray;
    }

    80% {
        box-shadow: 0px 0px 5px 10px lightslategray;
    }

    100% {
        box-shadow: 0px 0px 5px 11px lightslategray;
    }
}

#calin input {
    width: 300px;
}

#calin p {
    display: inline-block;
    background-color: lightgray;
    color: black;
    font-weight: bold;
    padding: 1px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px;
}

#calin label {
    display: inline-block;
    text-align: center;
    width: 60px;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px;
}

#le {
    margin-right: 20px;
}